* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nunito', sans-serif;
  background-color: white;
}
h1 , h2{
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 1px;
  margin: 3rem 0;
  font-weight: 400;
}
h3{
  font-weight: 400;
}
p {
  line-height: 1.5rem;
}
li {
  list-style:none;
}
a{
  text-decoration: none;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #556B7A;
  position: fixed;
  width: 100vw;
  height: 60px;
  top: 0;
  padding: auto 2px;
}

.nav-bar .logo{
  text-decoration: none;
  font-size: 3rem;
  letter-spacing: 5px;
  text-shadow: 2px 2px 1px black;
  margin-left: .5rem;
}
.nav-bar ol {
  display: none;
}
.nav-bar li {
  list-style: none;
  text-align: center;
  margin: .6rem;
  transition: 500ms;
}
.nav-bar a {
  text-decoration: none;
  letter-spacing: 3px;
  color: white;
}
.nav-bar li:hover {
  transform: scale(1.3);
}
.nav-bar li a:hover{
  color: #00b4c8;
}
#hamburger-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 30px;
  justify-content: space-evenly;
  transition: all 50ms ease-out;
  padding: 5px 20px;
  position: relative;
  
}
#hamburger-menu:hover{
  transform: scale(1.15);
  cursor: pointer;
}
#hamburger-menu span{
  width: 40px;
  height: 4px;
  background-color: white;
  transition-duration: 200ms;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
}
.rotateUp{
  transform: rotateZ(45deg);
  position: absolute;
  right: 15px;
}
.rotateDown{
  transform: rotateZ(-45deg);
  position: absolute;
  right: 15px;
}
.hide{
  display: none;
}
.drop-nav{
  width: 100vw;
  height: 100vh;
  padding-top: 3rem;
  position: fixed;
  top: 59px;
  right: -800px;
  z-index: 50;
  background-color: #556B7A;
  transition: .5s ease;
}
.active{
  display: flex;
  right: 0px;
}
.drop-nav li{
  margin: 1rem;
  font-size: 2rem;
  transition: 500ms;
}
.drop-nav li:hover {
  transform: scale(1.3);
}
.drop-nav li a {
  color: white;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 3px;
}
.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  align-items: center;
  margin-top: 5rem;
}
.intro img {
  height: 230px;
  width: 220px;
  border-radius: 50%;
  border: 8px solid #556B7A;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px black;
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 2px;
}
.about .name {
  font-size: 2rem;
  text-shadow: 1px 0px 1px black;
}
.about p {
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 2px;
  box-shadow: 0px 0px 5px black;
  background-color: #556B7A;
  color: white;
  border-radius: 10px;
}
.skills ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skills ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 5px 10px;
  margin: .5rem 0.3rem;
  height: 40px;
  font-size: 1.5rem;
  color: white;
  background-color: #556B7A;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
  transition-duration: 500ms;
}
.skills ul li:hover{
  transform: scale(1.1);
}
.skills ul li span{
  margin: auto;
}
.projects {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center ;
  max-width: 1500px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 0 0 1rem;
  width: 300px;
  height: 450px;
  background-color: white;
  box-shadow: 1px 1px 20px black;
  border-radius: 15px;
  transition-duration: 100ms;
}
.card:hover {
  transform: scale(1.03);
}
.card-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-top img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-top h2 {
  margin: 0.5rem auto .5rem;
  text-align: center;
  color: black;
}
.card-detail {
  display: flex;
  flex-direction: column;
  width: 90%;
  color: black;
}
.card-detail h2 a{
  color: white;
}
.card-detail h3 {
  margin-bottom: .5rem;
}

.card-detail span {
  letter-spacing: 2px;
  text-align: center;
}
.card .buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
#live{
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #556B7A;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 1px 2px black;
  text-align: center;
  width: 80px;
  padding: .2rem;
  font-weight: 400;
  transition: 300ms;
}
#live:hover{
  opacity: 0.95;
  transform: scale(.95);
  background-color: #00b4c8;
}
#project-github {
  text-decoration: none;
  font-size: 1.5rem;
  background-color:#556B7A;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 1px 2px black;
  text-align: center;
  width: 80px;
  padding: .2rem .5rem;
  font-weight: 400;
  transition: 300ms;
}
#project-github:hover {
  opacity: 0.95;
  transform: scale(.95);
  background-color: #00b4c8;
}
.projects div p {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #556B7A;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 0 auto;
  padding: 1rem 0;
}

footer h1 {
  margin: 0 auto 2rem;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 1px 1px 5px black;
}
footer section {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  width: 95vw;
}
footer section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer section input {
  border: none;
  width: 100px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
}
footer section textarea {
  width: 200px;
  height: 200px;
  padding: 10px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
}
footer section button {
  letter-spacing: 2px;
  height: 2.5rem;
  border: none;
  background-color: #00b4c8;
  box-shadow: 2px 1px 2px black;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.3rem;
  width: 200px;
  transition-duration: 100ms;
  margin-bottom: 2rem;
}
footer section button:hover {
  transform: scale(.95);
  cursor: pointer;
}
footer .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
}
footer h2 {
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 3px;
  margin: 0;
  text-shadow: 1px 1px 5px black;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer ul li {
  list-style: none;
  margin: 15px;
  text-align: center;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  text-shadow: 1px 1px 5px black;
  transition: 500ms;
}
footer ul li a:hover {
  color: #00b4c8;
}
footer p {
  color: white;
  font-size: .8rem;
  text-shadow: 1px 1px 5px black;
}
@media all and (min-device-width: 800px) {
  body {
    margin: 0 auto;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-bar .logo{
    font-size: 3rem;
    margin-left: .5rem;
  }
  .nav-bar ol {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
  }
  .nav-bar ol li a {
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.5rem;
  }
  #hamburger-menu{
    display: none;
  }
  .drop-nav{
    top: 60px;
  }
  .drop-nav li {
    margin: 2rem;
  }
  .drop-nav li a:hover{
    color: #00b4c8;
  }
  .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 850px;
    margin: 120px auto 60px;
  }
  .intro img {
    height: 260px;
    width: 240px;;
    margin:0;
  }
  .about p{
    padding: 10px;
    width: 550px;
    font-size: 1.5rem;
    line-height: 35px;
  }
  h1{
    font-size: 2rem;
  }
  .skills ul {
    width: 900px;
    margin: 0 auto;
  }
  .skills ul li {
    font-size: 2rem;
  }
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 3rem auto;
    max-width: 1200px;
  }
  .projects .card {
    width: 300px;
    height: 460px;
    margin: 1rem auto;
  }
  .card-detail {
    padding: 0 .5rem;
    flex-wrap: wrap;
  }
  .projects span {
    margin: .5rem .3rem;
  }
  footer section input{
    width: 500px;
    height: 30px;
  }
  footer section textarea{
    width: 500px;
    height: 200px;
  }
  footer .contact{
    margin-bottom: 1rem;
    align-items: center;
  }
  footer h2 {
    font-size: 1.5rem;
  }

}
@media all and (max-width: 800px) {
  .nav-bar ol {
    display: none;
  }
  #hamburger-menu{
    display: flex;
  }
  .drop-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro{
    flex-direction: column;
    margin: 100px auto 0;
  }
  .intro img{
    margin-bottom: 1rem;
  }
  .about{
    width: 95vw;
    margin-top: 1rem;
  }
  .about p {
    padding: 10px 5px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills ul{
    margin: 0 auto;
    width: 95vw;
  }
  footer{
    width: 100vw;
  }
  footer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    margin: 0 auto;
  }
  footer section input{
    height: 40px;
    width: 300px;
    padding: 10px;
  }
  footer section textarea{
    width: 300px;
  }
}