* {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Nunito', sans-serif;
}
h1 , h2{
  display: inline-block;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 1px;
  margin: 0  auto 3rem;
  color: #00b4c8;
}
h3{
  font-weight: 400;
}
p {
  line-height: 1.5rem;
}
li {
  list-style:none;
}
a{
  text-decoration: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 55px;
  top: 0;
  padding: auto 2px;
  background-color: #383C4A;
}
.nav-bar .logo{
  text-decoration: none;
  font-size: 3rem;
  letter-spacing: 5px;
  text-shadow: 2px 2px 0px #00b4c8;
  margin-left: .5rem;
}
.nav-bar ol {
  display: none;
}
.nav-bar li {
  list-style: none;
  text-align: center;
}
.nav-bar a {
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
  transition: 200ms;
}

.nav-bar li a:hover{
  font-size: 1.5rem;
  box-shadow: 2px 10px 1px -8px #00b4c8;
}
#hamburger-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 30px;
  justify-content: space-evenly;
  transition: all 50ms ease-out;
  padding: 5px 20px;
  position: relative;
  
}
#hamburger-menu:hover{
  transform: scale(1.15);
  cursor: pointer;
}
#hamburger-menu span{
  width: 40px;
  height: 4px;
  background-color: white;
  transition-duration: 200ms;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #00b4c8;
}
.rotateUp{
  transform: rotateZ(45deg);
  position: absolute;
  right: 15px;
}
.rotateDown{
  transform: rotateZ(-45deg);
  position: absolute;
  right: 15px;
}
.hide{
  display: none;
}
.drop-nav{
  width: 100vw;
  height: 100vh;
  padding-top: 3rem;
  position: fixed;
  top: 54px;
  right: -800px;
  z-index: 50;
  background-color:#383C4A;
  transition: .5s ease;
}
.active{
  display: flex;
  right: 0px;
}
.drop-nav li{
  margin: 1rem;
  font-size: 2rem;
}

.drop-nav li a {
  color: white;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #00b4c8;
  transition: 200ms;
}
.drop-nav li a:hover{
  font-size: 2.5rem;
  box-shadow: 2px 10px 1px -8px #00b4c8;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing{
  width: 100vw;
  background-color: #383C4A;
  padding-bottom: 3rem;
}
.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  margin: 5rem auto 0;
  width: 95vw;
  min-height: 600px;
  border-radius: 10px;
  
}
.intro img {
  height: 230px;
  width: 220px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.about .name {
  font-size: 2.4rem;
  font-family:  sans-serif;
  font-weight: 300;
  line-height: 2.5rem;
  letter-spacing: 1px;
  text-align: center;
  color: #00b4c8;
  border-radius: 10px;
  position: relative;
}

.about .name::after{
  content: '';
  position: absolute;
  width: 5px;
  height: .5rem;
  margin-top: 2.4rem;
  border-right: 1.7rem solid #00b4c8;
  animation: cursor 1s infinite ease-in-out;
}
.about .job{
  color: white;
  font-size: 1.5rem;
  line-height: 1.8rem; 
}
@keyframes cursor{
  0%{
    opacity: 0;
  } 
  100%{
    opacity: 1;
  }
}
@keyframes skill{
  0%{
    transform: rotate(0);
  }
  25%{
    transform: rotate(-2deg);
  }
  50%{
    transform: rotate(0);
  }
  75%{
    transform: rotate(2deg);
  }
  100%{
    transform: rotate(0);
  }
}
.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.skills ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skills ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 5px 10px;
  margin: .5rem 0.3rem;
  height: 40px;
  font-size: 1.5rem;
  color: white;
  background-color: #383c4a;
  box-shadow: 1px 1px 3px #00b4c8;
  border-radius: 5px;
}
.skills ul li:hover{
  animation: skill .3s ease-in-out;
}
.skills ul li span{
  margin: auto;
}
.projects {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: space-around;
  max-width: 1500px;
  padding-bottom: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 1rem;
  padding: 0 0 1rem;
  width: 300px;
  height: 450px;
  background-color: white;
  box-shadow: 1px 1px 3px #00b4c8;
  border-radius: 5px;
  transition-duration: 100ms;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 10px #00b4c8;
}
.card-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-top img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-top h2 {
  margin: 0.5rem auto .5rem;
  text-align: center;
  color: black;
  box-shadow: none;
}
.card-detail {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.card-detail h2 a{
  color: white;
}
.card-detail h3 {
  margin-bottom: .5rem;
}

.card-detail span {
  letter-spacing: 2px;
  text-align: center;
}
.card .buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
#live{
  text-decoration: none;
  font-size: 1.5rem;
  background-color:#383C4A;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #00b4c8;
  text-align: center;
  width: 80px;
  padding: .2rem;
  font-weight: 400;
  transition: 300ms;
}
#live:hover{
  opacity: 0.95;
  transform: scale(.95);
  background-color: #00b4c8;
}
#project-github {
  text-decoration: none;
  font-size: 1.5rem;
  background-color:  #383C4A;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #00b4c8;
  text-align: center;
  width: 80px;
  padding: .2rem .5rem;
  font-weight: 400;
  transition: 300ms;
}
#project-github:hover {
  opacity: 0.95;
  transform: scale(.95);
  background-color: #00b4c8;
}
.projects div p {
  display: flex;
  flex-direction: row;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #383C4A;
}

footer h1 {
  margin: 3rem auto;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}
footer section {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  width: 95vw;
}
footer section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer section input {
  border: none;
  width: 100px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  box-shadow: 1px 1px 3px #00b4c8;
  border-radius: 5px;
  
}
footer section textarea {
  width: 200px;
  height: 200px;
  padding: 10px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px #00b4c8;
  border-radius: 5px;
}
footer section button {
  letter-spacing: 2px;
  height: 2.5rem;
  border: none;
  color: #383c4a;
  background-color: white;
  box-shadow: 0px 0px 5px #00b4c8;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  width: 200px;
  transition: 100ms;
  margin-bottom: 2rem;
}
footer section button:hover {
  transform: scale(.95);
  background-color: #00b4c8;
  color: white;
  cursor: pointer;
  opacity: .95;
}
footer .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
}
footer h2 {
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 3px;
  margin: 0;
  color: white;
  box-shadow: none;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer ul li {
  list-style: none;
  margin: 15px;
  text-align: center;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  text-shadow: 0px 0px .5px #00b4c8;
  transition: 500ms;
}
footer ul li a:hover {
  color: #00b4c8;
}
footer p {
  color: white;
  font-size: .8rem;
}
@media all and (min-device-width: 800px) {
  body {
    margin: 0 auto;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-bar .logo{
    font-size: 3rem;
    margin-left: .5rem;
  }
  .nav-bar ol {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .3rem;
  }
  .nav-bar ol li{
    padding: .3rem 1rem;
  }
  .nav-bar ol li a {
    margin: 0 auto;
    font-size: 1.3rem;
  }
  #hamburger-menu{
    display: none;
  }
  .drop-nav{
    top: 55px;
  }
  .drop-nav li {
    margin: 2rem;
  }
  .landing{
    padding-bottom: 6rem;
  }
  .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    min-height: 200px;
  }
  .intro img {
    height: 260px;
    width: 240px;;
    margin:0;
  }
  
  .about .name{
    font-size: 2.5rem;
    letter-spacing: 3px;
    padding: 10px;
    margin-bottom: 1rem;
  }
  .about .name::after{
    height: .5rem;
    margin-top: 2.1rem;
    width: 5px;
    border-right: 1.5rem solid #00b4c8;
  }
  .about .job{
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  h1{
    font-size: 2rem;
  }
  .skills{
    width: 100vw;
  }
  .skills ul {
    width: 90vw;
    max-width: 950px;
    margin: 0 auto;
  }
  .skills ul li {
    font-size: 2rem;
  }
  .projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    max-width: 1600px;
  }
  .list-projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
  }
  .projects .card {
    width: 300px;
    height: 460px;
    margin: 1rem;
  }
  .card-detail {
    padding: 0 .5rem;
    flex-wrap: wrap;
  }
  .projects span {
    margin: .5rem .3rem;
  }
  footer{
    padding: 0;
  }
  footer section input{
    width: 500px;
    height: 30px;
  }
  footer section textarea{
    width: 500px;
    height: 200px;
  }
  footer .contact{
    margin-bottom: 1rem;
    align-items: center;
  }
  footer h2 {
    font-size: 1.5rem;
  }

}
@media all and (max-width: 800px) {
  .nav-bar ol {
    display: none;
  }
  #hamburger-menu{
    display: flex;
  }
  .drop-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro{
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }
  .intro img{
    margin-bottom: 1.5rem;
  }
  
  .about .name{
    text-align: center;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .skills ul{
    margin: 0 auto;
    width: 95vw;
  }
  footer{
    width: 100vw;
  }
  footer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    margin: 0 auto;
  }
  footer section input{
    height: 40px;
    width: 300px;
    padding: 10px;
  }
  footer section textarea{
    width: 300px;
  }
}